
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary : #6808d6;
    --lightprimary : #f0e6fb;
    --mediumlightprimary : #a46be6;
    --darkprimary : #3e0580;
    --light : #ffffff;
    --dark : #15022b;
    --shadow : 0 0 25px 0 rgba(0, 0, 0, 0.35);
    --lightshadow : 0 0 25px 0 rgba(0, 0, 0, 0.1);
    --regularfont : 'Roboto'
}

body, html {
    min-height: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--light);
    font-family: var(--regularfont);
    color: var(--dark);
}

.brand-title {
    font-size: 6em;
    margin: 0;
    padding: 0;
    color: var(--primary);
    letter-spacing: -8px;
}

.brand-slogan {
    margin: 0;
}

.signup-panel {
    box-shadow: var(--shadow);
    overflow: hidden;
}

.signup-side {
    background-image: url('https://picsum.photos/1920?grayscale');
    background-size: cover;
}

.signup-panel, .signup-side {
    min-height: 800px;
}

#signup-form, login-form {
    animation: signFormIn 300ms 1;
}

.main-nav {
    position: absolute;
    width: 80px;
    height: 100%;
    background: var(--light);
    box-shadow: var(--lightshadow);
    z-index: 10;
}

.main-nav-items {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.nav-item {
    position: relative;
}

.nav-item>button, .nav-item>a {
    box-sizing: border-box;
    align-items: flex-start;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 250ms ease;
}

.nav-item>button .feather, .nav-item>a .feather {
    height: 3em;
}

.nav-item>button .nav-status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--mediumlightprimary);
    position: absolute;
    bottom: 20px;
    right: 25px;
    border: var(--light) 2px solid;
}

.nav-item>button:hover, .nav-item>a:hover {
    opacity: 0.5;
}

.dropdown-item {
    display: none;
    position: absolute;
    background: var(--light);
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 100%;
    margin: 10px;
    box-shadow: var(--lightshadow);
    width: 200px;
    border-radius: 5px;
}

.dropdown-item>li>a {
    display: block;
    text-decoration: none;
    color: var(--dark);
    transition: background 250ms ease;
}

.dropdown-item>li:first-child>a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-item>li:last-child>a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-item>li>a>span {
    vertical-align: middle;
    display: inline-block;
    padding: 10px 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-item>li>a .feather {
    height: 1.25em;
    vertical-align: middle;
    padding: 10px 15px;
}

.dropdown-item>li>a:hover {
    background: var(--lightprimary);
}

.username-display {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
    text-align: center;
    width: 100%;
    padding: 25px 0;
    font-size: 1.5em;
    opacity: 0.25;
    user-select: none;
}

.main-content {
    margin-left: 80px;
}

input[type="text"],
input[type="number"], 
input[type="date"], 
input[type="password"], 
input[type="email"], 
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="month"],
input[type="datetime-local"],
textarea {
    font-family: var(--regularfont);
    font-size: 1em;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--dark);
    color: var(--dark);
    background: transparent;
    transition: all 250ms ease;
}

textarea.lil-input {
    height: 100px;
}

input[type="text"]:focus,
input[type="number"]:focus, 
input[type="date"]:focus, 
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
    border-color: var(--primary);
}

button.btn {
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--light);
    font-family: var(--regularfont);
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 250ms ease;
    box-shadow: var(--shadow);
}

button.btn:hover {
    background-color: var(--mediumlightprimary);
}

.feather {
    height: 1em;
    color: var(--dark);
}

a {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--darkprimary);
}

@keyframes signFormOut {
    from { 
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(400px);
        opacity: 0;
    }
}

@keyframes signFormIn {
    from { 
        transform: translateX(-400px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes dropDownOut {
    from { 
        transform: translateX(0);
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: translateX(10px);
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes dropDownIn {
    from { 
        transform: translateX(-10px);
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        transform: scale(1);
        opacity: 1;
    }
}