@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --primary: #8639de;
    --lightprimary: #f0e6fb;
    --mediumlightprimary: #a46be6;
    --darkprimary: #3e0580;
    --light: #ffffff;
    --dark: #15022b;
    --shadow: 0 0 25px 0 rgba(0, 0, 0, 0.35);
    --lightshadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    --regularfont: 'Roboto'
}

body,
html {
    min-height: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 100px ;
}

body {
    margin: 0;
    background-color: var(--light);
    font-family: var(--regularfont);
    color: var(--dark);
}

.brand-title {
    font-size: 6em;
    margin: 0;
    padding: 0;
    color: var(--primary);
    letter-spacing: -8px;
}

.brand-slogan {
    margin: 0;
}

.signup-panel {
    box-shadow: var(--shadow);
    overflow: hidden;
}

.signup-side {
    background-image: url('https://picsum.photos/1920');
    background-size: cover;
}

.signup-panel,
.signup-side {
    min-height: 800px;
}

#signup-form,
login-form {
    animation: signFormIn 300ms 1;
}

.container {
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
}

.main-nav {
    position: fixed;
    width: 80px;
    height: 100%;
    background: var(--light);
    box-shadow: var(--lightshadow);
    z-index: 10;
}

.main-nav-items {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.nav-item {
    position: relative;
}

.nav-item>button,
.nav-item>a {
    box-sizing: border-box;
    align-items: flex-start;
    text-align: center;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    transition: all 250ms ease;
}

.nav-item>button .feather,
.nav-item>a .feather {
    height: 3em;
}

.nav-item>button .nav-status {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--mediumlightprimary);
    position: absolute;
    bottom: 20px;
    right: 25px;
    border: var(--light) 2px solid;
}

.nav-item>button:hover,
.nav-item>a:hover {
    opacity: 0.5;
}

.dropdown-list {
    display: none;
    position: absolute;
    background: var(--light);
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 100%;
    margin: 10px;
    box-shadow: var(--lightshadow);
    width: 200px;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-list>li>a {
    display: block;
    text-decoration: none;
    color: var(--dark);
    transition: background 250ms ease;
}

.dropdown-list>li:first-child>a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dropdown-list>li:last-child>a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-list>li>a>span {
    vertical-align: middle;
    padding: 10px 15px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-list>li>a .feather {
    height: 1.25em;
    vertical-align: middle;
    padding: 10px 15px;
}

.dropdown-list>li>a:hover {
    background: rgba(0, 0, 0, 0.03);
}

.username-display {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
    text-align: center;
    width: 100%;
    padding: 25px 0;
    font-size: 1.5em;
    opacity: 0.25;
    user-select: none;
}

.main-content {
    margin-left: 80px;
}

.background-title {
    position: fixed;
    top: 0;
    left: 80px;
    margin: 0 100px;
    font-size: 15em;
    opacity: 0.05;
    user-select: none;
    z-index: -1;
}

.section-title .feather {
    vertical-align: middle;
    transform: translateY(-2px);
    margin-right: 10px;
}

.message-list {
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
}

.message {
    box-sizing: border-box;
    padding: 20px 20px;
    /* overflow: hidden; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.message:last-child {
    border-bottom: none;
}

.message header {
    position: relative;
}

.message-author {
    margin: 0;
    display: inline-block;
}

.message-author>a:any-link {
    text-decoration: none;
    color: var(--primary);
}

.message-date::before {
    content: "\00a0- ";
}

.message-date {
    display: inline-block;
    opacity: 0.35;
}

.message-options {
    background: transparent;
    border: none;
    outline: none;
    color: var(--dark);
    transition: all 300ms ease;
    cursor: pointer;
}

.message-options .feather {
    height: 1.25rem;
    vertical-align: middle;
}

.message-options:hover {
    opacity: 0.3;
}

#edit-dd {
    top: auto;
    bottom: -100px;
    left: auto;
    right: -10px;
}

.message-content {
    margin: 10px 0;
    line-height: 1.5em;
}

.message footer {
    margin: 0;
    margin-top: 15px;
}

.message-nav {
    /* float: right; */
    border-radius: 25px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.message-nav>li {
    float: left;
    padding: 10px 0;
    /* min-width: 100px !important; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 300ms ease, transform 100ms ease;
    user-select: none;
}

.message-nav>li>a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    transition: all 300ms ease;
}

.message-nav>li>a>.feather {
    margin-right: 5px;
    height: 1.25em;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    transition: transform 100ms ease;
}

.message-like {
    border-right: 1px solid rgba(0, 0, 0, 0.05) !important;
    transform: translateX(1px);
}

.message-share {
    border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
}

.message-nav>li:hover {
    box-shadow: var(--lightshadow);
    background: var(--primary);
}

.message-nav>li:active {
    box-shadow: var(--lightshadow);
    background: var(--primary);
    transform: scale(0.9);
}

.message-nav>li:hover>a .feather {
    color: var(--light);
}

.message-nav>li:hover>a {
    color: var(--light);
}

.message-nav>li.active {
    box-shadow: var(--shadow);
    background: var(--primary);
}

.message-nav>li.active>a {
    color: var(--light);
}

.message-nav>li.active>a .feather {
    color: var(--light);
}

.message-nav>li:first-child {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.message-nav>li:last-child {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.message-form {
    padding: 20px 20px 15px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px; */
}

.message-form>textarea, .settings-form>textarea, .message-edit-form textarea {
    min-height: 50px;
    max-height: 150px;
    resize: vertical;
}

.message-delete-form {
    position: absolute;
    top: 0;
    right: calc(50% - 50%);
    z-index: 10000;
    padding: 20px;
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
    display: none;
}

.message-edit-form {
    position: absolute;
    top: 0;
    right: calc(50% - 50%);
    z-index: 10000;
    padding: 20px;
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
    display: none;
}

.message-follow-like {
    opacity: 0.35;
    margin-top: 0;
}

.message-follow-like .feather {
    transform: translateY(2px);
    margin-right: 5px;
}

.stat-list {
    z-index: 10;
    padding: 10px;
    list-style-type: none;
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
}

@media (min-width: 1200px) {
    .stat-list {
        margin: 0 25% 0 0;
    }
}

.stat-list>li {
    padding: 10px 20px;
    text-decoration: none;
    vertical-align: middle;
    padding: 10px;
}

.stat-list>li .feather {
    margin-right: 5px;
    height: 1.25em;
    vertical-align: middle;
    color: var(--primary);
    transform: translateY(-2px);
}

.user-banner {
    position: relative;
    height: 200px;
    box-shadow: var(--lightshadow);
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.user-avatar {
    width: 100px;
    height: 100px;
    box-shadow: var(--shadow);
    border-radius: 100%;
    position: absolute;
    left: calc(50% - 50px);
    bottom: calc(50% - 50px);
    background-size: cover;
    background-repeat: no-repeat;
}

@media (min-width: 1000px) {
    .user-avatar {
        left: 50px;
    }
}

@media (min-width: 1200px) {
    .user-banner {
        height: 300px;
    }
    .user-avatar {
        left: 50px;
        bottom: calc(50% - 100px);
        width: 200px;
        height: 200px;
    }
}

.settings-form {
    padding: 5px 20px;
    list-style-type: none;
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
}

.follow {
    box-sizing: border-box;
    /* overflow: hidden; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.follow:last-child {
    border: none;
}

.follow>a:any-link {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    color: var(--dark);
    transition: all 250ms ease;
}

.follow>a:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.follow:last-child>a {
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.follow:first-child>a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.follow-pseudo {
    margin: 0;
}

.follow-unfollow {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;
}

.message-follow-activity {
    margin: 0;
}

.message-follow-activity .feather {
    transform: translateY(2px);
    margin-right: 5px;
}

.message-follow-activity>a:any-link {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

.search-form {
    padding: 20px;
    list-style-type: none;
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
}

.search-form>input {
    width: calc(100% - 63px);
}

.user-search-results {
    list-style-type: none;
    box-shadow: var(--lightshadow);
    background: var(--light);
    border-radius: 5px;
    padding: 0;
    margin: 15px 0;
}

.user-search-item>a:any-link {
    display: block;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--dark);
    text-decoration: none;
    transition: all 300ms ease;
}

.user-search-item:last-child>a {
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-search-item:first-child>a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-search-item>a:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.error-message {
    color: red;
    margin: 15px 20px;
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
input[type="month"],
input[type="datetime-local"],
textarea {
    font-family: var(--regularfont);
    font-size: 1em;
    padding: 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--dark);
    color: var(--dark);
    background: transparent;
    transition: all 250ms ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
input[type="month"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
    border-color: var(--primary);
}

hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.btn {
    border: none;
    outline: none;
    background-color: var(--primary);
    color: var(--light) !important;
    text-decoration: none;
    font-family: var(--regularfont);
    font-size: 1em;
    padding: 10px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 250ms ease, transform 100ms ease;
    box-shadow: var(--shadow);
}

.btn:hover {
    background-color: var(--mediumlightprimary);
}

.btn .feather {
    margin-right: 5px;
    height: 1.25em;
    vertical-align: middle;
    transform: translateY(-2px);
    color: var(--light) !important;
}

.btn:active {
    transform: scale(0.9);
}

.feather {
    height: 1em;
    color: var(--dark);
}

a {
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}

a:link {
    color: var(--primary);
}

a:visited {
    color: var(--darkprimary);
}

@keyframes signFormOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(400px);
        opacity: 0;
    }
}

@keyframes signFormIn {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes dropDownOut {
    from {
        transform: translateX(0);
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: translateX(10px);
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes dropDownIn {
    from {
        transform: translateX(-10px);
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        transform: scale(1);
        opacity: 1;
    }
}
